
<div style="background-color: #3c4257ff; height:20vh; padding:30px; display:flex; align-items:flex-end; flex-direction:column;">
  <h1> <%= link_to "About", about_path, class: "about-contact" %></h1>

    
    <h1><%=link_to "Contact",contact_path, class:"about-contact"%></h1>
</div>

