<div style="height: 93.55vh;">
  <h1 class="title is-1" style="color: #1c4ecdff;">Log In</h1>
  <div style="display:flex; justify-content:center; align-items:center;">
    <div style="width:800px; border: 7px solid #122e74ff; border-radius:10px; padding:10px; display:flex; justify-content:center; align-items:center;">
      <form action="<%= login_check_path %>" method="post" autocomplete="off">
        <!-- Manually include Rails CSRF token -->
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <% if flash[:alert] %>
          <p class="alert" style="color: red;"><%= flash[:alert] %></p>
        <% end %>
 
        <table class="noborder">
          <tr>
            <td ><label for="email">Email</label></td>
            <td><input type="email" name="email" id="email" style="width:225px"></td>
          </tr>
          <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password" id="password" style="width:225px"></td>
          </tr>
          <tr>
            <td><input type="submit" value="Log In"></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
